# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.pyd

# Virtual environment
venv/
ENV/
.env/
.env
env/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite
*.sqlite3

# Uploads
uploads/files/
uploads/*.csv

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore
